<?xml version="1.0" encoding="UTF-8"?>
<web-app
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
        version="3.0">

    <servlet>
        <servlet-name>servletbyxml</servlet-name>
        <servlet-class>com.servlet3.demo.controller.ServletByXml</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servletbyxml</servlet-name>
        <url-pattern>/servletbyxml</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>filterbyxml2</filter-name>
        <filter-class>com.servlet3.demo.filter.FilterByXml2</filter-class>
    </filter>

    <filter>
        <filter-name>filterbyxml</filter-name>
        <filter-class>com.servlet3.demo.filter.FilterByXml</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>filterbyxml2</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>filterbyxml</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <listener>
        <listener-class>com.servlet3.demo.Listener.ListenerByXml</listener-class>
    </listener>

    <listener>
        <listener-class>com.servlet3.demo.registration.RegistrationByListener</listener-class>
    </listener>
</web-app>